@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Spectral:wght@300;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  appearance: none;
  color: #191919;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 1200px;
}

.nav-container {
  display: flex;
}

nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffc017;
  border-bottom: #191919 solid 0.8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

nav img {
  width: 120px;
  margin-right: auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 10px;
}

.button {
  background-color: #191919;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 11px;
  height: 29px;
  width: 85px;
}

.home {
  background-color: #ffc017;
  border-bottom: #191919 solid 0.8px;
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.home-container {
  width: 100%;
}

.home-info {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: absolute;
  top: 8rem;
  left: 7rem;
}

.home-info h1 {
  font-weight: 400;
  letter-spacing: -6px;
  font-family: "Spectral", sans-serif;
  font-size: 5.5rem;
}

.home-info p {
  font-size: 18px;
}

#home-btn {
  width: 150px;
  font-size: 14px;
  margin-top: 10px;
}

.main-container {
  border-bottom: #e7e7e6 solid 0.8px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-inline: auto;
}

.trending {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.trending img {
  width: 22px;
}

.trending h4 {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 10px;
}

.trends {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-top: 10px;
}

.trend {
  width: 300px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.trend-username {
  display: flex;
  align-items: center;
  position: relative;
  left: -10px;
}

.trend-username span {
  color: #e7e7e6;
  font-size: 25px;
  font-weight: bold;
  padding-right: 5px;
}

.username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trend-username .circle-img {
  border-radius: 50%;
  width: 15px;
  margin-left: 10px;
}

.trend-username .box-img {
  border-radius: 25%;
  width: 15px;
  margin-left: 10px;
}

.trend-username p {
  font-size: 10px;
  padding: 5px;
}

.trend-info-date {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-bottom: 15px;
  position: relative;
  left: -10px;
}

.trend-info {
  display: flex;
  margin-top: -5px;
}

.trend-info h4 {
  font-weight: bold;
  font-size: 12px;
  margin-top: 0.5rem;
  margin-right: 24px;
  line-height: 15px;
}

.trend-date {
  color: #6f6f6e;
  font-size: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.trend-date img {
  margin-left: 5px;
  width: 15px;
}

.aside-container {
  display: flex;
}

.article-username {
  display: flex;
  align-items: center;
}

section {
  width: 60%;
}

article {
  display: flex;
  gap: 20px;
  padding-left: 80px;
}

.circle-img {
  border-radius: 50%;
  width: 15px;
}

.user {
  font-size: 10px;
  padding-left: 2px;
}

.article-content {
  margin-right: auto;
}

article h4 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-text {
  font-size: 12px;
  color: #6f6f6e;
  padding-bottom: 10px;
}

.grey-button {
  color: #787979;
  background-color: #e7e7e6;
}

.article-date {
  color: #6f6f6e;
  font-size: 10px;
}

.big-img {
  width: 135px;
}

.square-img {
  border-radius: 25%;
  width: 15px;
}
